*{
    box-sizing:border-box;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section{
    margin-bottom: 40px;
}

footer{
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
}

footer h2{
    color: white;
}

header{
    background-color: darkblue;
    padding: 20px;
}

header h1{
    color: white;
}

body{
    font-family: "Google Sans", sans-serif;
    background-color:lightgray;
}

h1{
    color:darkblue;
    font-size:40px;
    text-align:center;
}

/*h1, h2, h3{
    font-family: 'Poppins', sans-serif;
}*/

.intro{
    color:black;
    font-style:italic;
    font-size:18px;
    padding: 10px 20px;
    border:2px solid gray;
    margin:20px;
    background-color:rgb(193, 192, 192);
}

#profile{
    padding:10px 20px;
    border:none;
    margin:20px;
}

#hobbies{
    background-color:darkgray;
}

/*footer ul{
    list-style:none;
}*/

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

footer a{
    text-decoration:none;
    color:steelblue;
    font-size:18px;
}

nav a:hover{
    color: lightgray;
    text-decoration:underline;
}

footer a:hover{
    color: coral;
    text-decoration:underline;
}

table{
    background-color:rgb(129, 128, 128);
    padding:10px 20px;
    border:2px solid rgb(75, 75, 75);
    margin:20px;
}

input:focus{
    border-color:steelblue;
    outline:none;
}

/*This styles textareas when they are focused*/
textarea:focus{
    border-color:steelblue;
    outline:none;
}

nav{
    display: flex;
    gap: 20px;
    justify-content: center;
}

footer ul{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-links{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}
